.boxx{
    width: 50%;
    margin: 50px 0 0px 25%;
    border: 10px dashed red;
    padding: 0 0 20px 0;
}
.margin{
    margin: 0 0 0px 38%;
}
.center{
margin: 20px 0 0 30%;  
}
.box2{
    width: 50%;
    margin: 50px 0 0px 25%;
    border: 10px solid red;
    padding: 0 0 20px 0;
}
.itembox{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

